<!DOCTYPE html>
<html lang="en">
<html ng-app = "PrimeraApp">  
<head>
	<meta charset="UTF-8">
	<title>Mi primera pagina Angular JS | Hide Example</title>

	<style type="text/css">

		.animated{
			opacity: 1;
			max-height: auto;
			overflow: hidden;
			transition:all 2s;
		}

		.animated.ng-hide{
			opacity: 0;
			max-height: 0px !important;
			overflow: hidden;
			display: block !important;
		}
	</style>

	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" ></script>
	<script src = "controller.js" ></script>

</head>
<body ng-controller = "PrimerControlador">

	

			<div ng-show="loading">Cargando...</div>
			<div ng-show="!loading && posts.length <= 0">No se encontraron resultados</div>
			<ul ng-show="posts.length > 0" class="animated">
				
				<li ng-repeat = "post in posts">
					<h2>Titulo:{{post.title}}</h2>
					
					<p>{{post.body}}</p>

				</li>

			</ul>

	

	
</body>
</html>