<!doctype html>
<html ng-app="exampleApp">
  <head>

    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
   
    <script src="controller.js"></script>
    
    <script src="ngDialog.js"></script>	
    <link rel="stylesheet" type="text/css" href="ngDialog.css">
    <link rel="stylesheet" type="text/css" href="ngDialog-theme-default.css">

  </head>
  
  <body id = "mybody" ng-controller="MainCtrl">

    
  

	<button type="button" ng-click="enviarComando(12)">Enviar Comando</button>


  </body>
</html>
