<!DOCTYPE html>
<html lang="en">
<html ng-app = "PrimeraAplicacion">
<head>
	<meta charset="UTF-8">
	<title>Video_3 | Controladores</title>
	
	<!--CDN de Angular(Content delivery network)-->
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src = "controller.js"></script>

</head>
<body ng-controller = "PrimerControlador"> 

	{{"Hola " + nombre}}
	
</body>
</html>