<!DOCTYPE html>
<html lang="en">
<html ng-app = "TodoDoList"> 
<head>
	<meta charset="UTF-8">
	<title>Todo List Angular</title>


<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" ></script>
<script src = "controller.js" ></script>
<script src = "angular-local-storage.min.js" ></script>


</head>

<body ng-controller="listaController">
	


	<ol>
		<li ng-repeat="actividad in todo">
			{{actividad.descripcion}} - 
			{{actividad.fecha | date:'short'}}<a href="#" ng-click="removeItem(actividad)" style="color:red;text-decoration:none;">&nbsp;&nbsp;&nbsp;X</a>
		</li>
	</ol>




<form ng-submit="agregarActividad()">

	<input type = "text" ng-model = "nuevaActividad.descripcion">
	<input type = "datetime-local" ng-model = "nuevaActividad.fecha">
	<input type = "submit" value = "Guardar Actividad">		

</form>


<button ng-click="clean()">Limpiar Lista</button>
	

	
</body>
</html>