<!DOCTYPE html>
<html lang="en">
<html ng-app> <!--Directiva para indicar que esta es una aplicacion de angular-->
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<!--CDN de Angular(Content delivery network)-->
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	
	

</head>
<body>

		{{"Hola " + " Mundo"}}
	
</body>
</html>