<!DOCTYPE html>
<html lang="en">

<!--Sabe de donde extraer el controlador "First Controller"-->
<html ng-app = "MyFirstApp">
<head>
	<meta charset="UTF-8">
	<title>Hola Controller</title>
	
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" ></script>

	<script src = "Controller.js"></script>

</head>

<!--Enlzamos el controlador con la vista que en este caso es en el Body-->
<body ng-controller = "FirstController">
	<!--ng-model = "name" sincroniza el valor del control con de de la variable del controlador-->

<!--<input type = "text" ng-model = "nombre"></input>-->
<label>Comentario:</label>
<input type = "text" name = "nombre"  ng-model = "nuevoComentario.comentario" ></input><br><br>

<label>Usurio:</label>
<!--TAMBIEN RECIBIMOS EL USERNAME -->
<input type = "text" ng-model="nuevoComentario.username"></input><br><br>

<button ng-click = "agregarcomentario()">Agregar Comentario</button>



	
	<!--{{"Hola " +  nombre}}-->
	<!--Codigo de JavaScript Embebido -->
	<h3>Comentarios</h3>
		<ul>
			<li ng-repeat = "comentario in comentarios" >
				{{comentario.comentario}} - <strong>{{comentario.username}}</strong>
			</li>
		</ul>

</body>
</html>

<!--Esta es una Vista -->