<!DOCTYPE html>
<html lang="en">
<html ng-app = "mainModule"
<head>
	<meta charset="UTF-8">
	<title>Filtros en Angular</title>

	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" ></script>
	<script src = "controller.js" ></script>
	<script src = "angular-local-storage.min.js" ></script>


</head>
<body ng-controller="FilterController">

	{{ miHtml | json }}

	<p>
		{{costo | currency:'L'}}
	</p>
	
</body>
</html>