<!DOCTYPE html>
<html lang="en" ng-app="mainModule">

<head>
	<meta charset="UTF-8">
	<title>Ejemplo de Apply</title>

	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" ></script>

	<script>

		angular.module('mainModule', [])
			.controller("FirstControler",function($scope){

					$scope.nombre = "Mario Galindo";


					//Funcion de javaScript que me permite ejecutar una accion despues de cierto tiempo (2 segundos)
					/*setTimeout(function(){
						$scope.$apply(function(){
							$scope.nombre = "Codigo Facilito";
							console.log($scope.nombre);
						});
					},2000);*/

					/*
					document.querySelector("#mi_boton").addEventListener('click',function(){
						$scope.$apply(function(){
							$scope.nombre = "Codigo Facilito";
							console.log($scope.nombre);
						});
					});*/
			});

	</script>

</head>
<body ng-controller="FirstControler">
	<h1>{{nombre}}</h1>
	<button id = "mi_boton" ng-click="nombre = 'Codigo Facilito'">Haz Cick</button>
</body>
</html>