<!DOCTYPE html>
<html lang="en">
<html ng-app = "customDirective">
<head>
	<meta charset="UTF-8">
	<title>Video 18 | Creacion de directivas Parte I</title>
    <link rel="stylesheet" href="autocomplete-jquery-ui.structure.css">
    <link rel="stylesheet" href="style.css">

	<!--CDN de Angular(Content delivery network)-->
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="autocomplete-jquery-ui.js"></script>
    <script src="app.js"></script>
    
   

	<style type="text/css">
		.circular{
			border-radius: 50px;
			width: 100px;
			height: 100px;
			display: inline-block;
		}
	</style>


</head>
<body ng-controller = "AppCtrl">
    <input type="text" myAutocomplete="repos" placeholder="Buscar repositorios">
	<ul class="no-list">
		<li ng-repeat="repo in posts" ng-hide="main_repo && main_repo != repo.name">
			
			<div class="circular" back-img="{{repo.owner.avatar_url}}">
				
			</div>
			<h1>{{repo.full_name}}</h1>
		</li>
	</ul>
	

</body>
</html>


