<!DOCTYPE html>
<html lang="en">
<html ng-app = "PrimeraApp">  
<head>
	<meta charset="UTF-8">
	<title>Mi primera pagina Angular JS</title>

	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" ></script>
	<script src = "controller.js" ></script>

</head>
<body ng-controller = "PrimerControlador">

	<article>
		
		<h2>Data que llego de la API</h2>


		<input type = "text" ng-model = "newPost.title"><br><br>
		<textarea ng-model = "newPost.body"></textarea><br><br>
		
		<button ng-click = "addPost()" >Enviar</button>


			<ul>
				
				<li ng-repeat = "post in posts">
					<h2>Titulo:{{post.title}}</h2>
					<h3>Id:{{post.id}}</h3>
					<p>{{post.body}}</p>

				</li>

			</ul>

	</article>

	
</body>
</html>