<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>ng-events</title>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" ></script>

	<style>
		.hover{
			background-color: rgb(200,50,50);
			color: white;
			font-weight: bold;
		}
	</style>

</head>
<body>

	<button ng-click="bandera =  !bandera" ng-class="{'hover':bandera}">
		Hover me

	</button><span ng-show="bandera">&lt;- click me</span>
	
	<p>
		{{bandera | json}}
	</p>

</body>
</html>