<!DOCTYPE html>
<html lang="en">
<html ng-app = "DataBinding_App">
<head>
	<meta charset="UTF-8">
	<title>Video 5 | Two way data binding y ng-model</title>

	<!--CDN de Angular(Content delivery network)-->
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src = "controller.js"></script>


</head>
<body ng-controller = "Ejemplo_databinding">

	<input type = "text"  ng-model = "nuevoComentario.comentario"> <!--ng-model : sincroniza los datos de la vista con los del controlador-->
	<br><br>

	<input type = "text" ng-model = "nuevoComentario.username">
	<br><br>

	<button ng-click = "agregarComentario()">Agregar Comentario</button>

		
	<article>
		<h3>Comentarios</h3>
			<ul>
				<!--comentario : nombre cualquira ; comentarios : nombre del array que estoy recorriendo estilo for each-->
				<li ng-repeat = "comentario in comentarios">
				{{comentario.comentario}} - <strong>{{comentario.username}}</strong>
				</li>
			</ul>
	</article>	

</body>
</html>


