<!DOCTYPE html>
<html lang="en" ng-app="miAplicacion">
<head>
	<meta charset="UTF-8">
	<title>Ejemplo de $rootScoope and Child Controllers</title>

	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" ></script>
	<script src="controller.js"></script>

</head>
<body ng-controller="FirstController">
	{{nombre}}
	<p><strong>Valor del padre:</strong>{{$parent.nombre}}</p>

	<div ng-controller="childController">
		<p><strong>Valor del hijo: </strong>{{nombre}}</p>	
		<input type="text" ng-model = "$parent.nombre">
	</div>

</body>
</html>