<!DOCTYPE html>
<html lang="en">
<html ng-app = "customDirective">
<head>
	<meta charset="UTF-8">
	<title>Video 17 | ng-src ng-cloack</title>

	<!--CDN de Angular(Content delivery network)-->
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src = "controller.js"></script>


</head>
<body ng-controller = "AppCtrl">

	<ul class="no-list" ng-cloak>
		<li ng-repeat="repo in repos">
			<img ng-src="{{repo.owner.avatar_url}}">
			<h1>{{repo.name}}</h1>
		</li>
	</ul>
	

</body>
</html>


