<!DOCTYPE html>
<html lang="en">
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>Primer Prueba Angular</title>

	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" ></script>


</head>
<body>

		{{"Hola " + " Mundo"}}
	
</body>
</html>